<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.nome }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="overall">
    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.overall }} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="sex">
    <mat-header-cell *matHeaderCellDef> Sex </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.sex }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="presente">
    <mat-header-cell *matHeaderCellDef> Presente </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.presente }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
